@model List<Medipol.Exam.Models.ExamObj>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web Programlama</h1>
    <p class="lead">Medipol Üniversitesi</p>
    <p><a href="/Exam/Index/@Model[0].Id" class="btn btn-primary btn-lg">Başlamak için Tıklayınız</a></p>
</div>
<div class="row">
    <div class="col-md-4">
         
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            <h2>@Model[0].Name  sınavına hoş geldiniz...</h2>
            <p>
                <ul>
                    <li>Klavyeden F11 tuşuna basınız.</li>
                    <li>Facebook hesabınız var ise sağ üst köşeden girişe basarak ilerleyiniz</li>
                    <li>Facebook hesabınız yok ise sağ üst köşeden kayıta basarak ilerleyiniz</li>
                    <li>Kayıta basarak ilerleyenler . ve Büyük Harf içeren bir şifre belirlemelidir</li>
                    <li>Sınav esnasında cevaplarınızın kaybolmaması için KAYDET'e basınız.</li>
                    <li>Sınav esnasında SINAVI BİTİR e basar iseniz,geri dönüş olmayacaktır.</li>
                    <li>Kayıt sonrası anasayfadan "BAŞLAMAK için TIKLAYINIZ" yazısına basarak ilerleyebilirsiniz.</li>
                    <li>Ses çıkaranı sınıftan atarım :)</li>
                </ul>
            </p>
        </div>
        
    </div>
<div class="row">
    <h3><label class="label label-warning">@TempData["message"]</label></h3>
</div>
